In [203]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from time import sleep
import re
import numpy as np

In [67]:
agents_df = pd.read_csv('Resources/agents.csv', index_col=0)
query_df = pd.read_csv('Resources/queryList.csv', index_col=0)

In [73]:
selectedAgent = agents_df['agents'].iloc[0]

In [20]:
number = agents_df[agents_df['agents'] == selected_agent]['missionCount']

In [27]:
agents_df[agents_df['agents'] == selected_agent]['missionCount'] = number+1

C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
agent_index = agents_df[agents_df['agents'] == selected_agent].index[0]

In [64]:
agents_df.at[agent_index,'missionCount']-=1

In [65]:
agents_df

,agents,agentFn,agentLn,creationDate,missionCount,lastMissionDate,lastMissionBuilding,lastMissionCompany
0,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,Clara,Willman,02-03-22,0,NaN,NaN,NaN
1,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Timothy,Isom,02-03-22,0,NaN,NaN,NaN
2,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Nicole,Smith,02-03-22,0,NaN,NaN,NaN
3,Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKi...,Jose,Jones,02-03-22,0,NaN,NaN,NaN
4,Mozilla/5.0 (X11; OpenBSD i386) AppleWebKit/53...,Jason,Na,02-03-22,0,NaN,NaN,NaN
5,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,Eric,Little,02-03-22,0,NaN,NaN,NaN

In [202]:
for available_rooms in available_dic.keys():
    if len(available_dic[available_rooms].values()) != available_dic['date']:
        available_dic[available_rooms].append(np.nan)

NameError: name 'available_dic' is not defined

In [204]:
me = {}
me['1'] =[]
me['2'] = [3]

In [213]:
me['2']

[3]

In [216]:
for key in me.keys():
    if len(me[key]) != len(me['2']):
        me[key].append(np.nan)

In [218]:
len(me['1'])

1

In [6]:
available_dic = {}
available_dic['building'] = []
available_dic['date'] = []
available_dic['0'] = []
available_dic['1'] = []
available_dic['2'] = []
available_dic['3'] = []
available_dic['4'] = []
available_dic['5'] = []

units_dic = {}
units_dic['date'] = []
units_dic['unitName'] = []
units_dic['sqrFt'] = []
units_dic['price'] = []
units_dic['availableDate'] = []
units_dic['bdr'] = []
units_dic['bthr'] = []
units_dic['flr'] = []
units_dic['features'] = []
units_dc['apt_views'] = []
########################################################################

# Checks to see if there are still buildings to query
building_list = query_df['buildingUrl']
number_buildings = len(building_list)
while len(building_list) > 0: 
    
    # Load agents
    agents_list = agents_df['agents'].tolist()
    number_agents = len(agents_list)
    
    #Select agent
    for n in range(number_agents):
        selectedAgent = random.choice(agents_list)
        agents_list.remove(selectedAgent)
        agentContinues = random.randrange(0,2)

        options = Options()
        options.add_argument(f"user-agent={selectedAgent}")
        driver = webdriver.Chrome(chrome_options=options)

        while (agentContinues == 1) & (building_list >0):
            selectedBuilding= random.choice(building_list)
    #         building_list.remove(selectedBuildings)


            if 'https://www.udr.com/new-york-city-apartments/chelsea/21-chelsea/apartments-pricing' not in selectedBuilding:
                maxBedroom = query_df[query_df['buildingUrl'] == selectedBuilding]['maxBdr']
                bedroomQueries = [str(i+1) for i in range(maxBedroom)]
                number_bdr_queries = len(bedroomQueries)
            else:
                bedroomQueries = ["0", '1','2','5']
                number_bdr_queries = len(bedroomQueries)
                
            for bdr in range(number_bdr_queries):
                selectedBdr = random.choice(bedroomQueries)
                bedroomQueries.remove(selectedBdr)
                queryUrl = f"{selectedBuilding}?beds={selectedBdr}"
                driver.get(queryUrl)
                
                # Get agent index
                agent_index = agents_df[agents_df['agents'] == selected_agent].index[0]
                
                # Get building index
                query_index = query_df[query_df['buildingUrl'] == selectedBuilding].index[0]                
                
                # UPDATES
                agents_df.at[agent_index, "missionCount"]+=1 # Update Mission
                agents_df.at[agent_index, 'lastMissionDate'] = now.strftime("%m-%d-%y") # Update Mission
                agents_df.at[auery_index, 'lastMissionBuilding'] = query_df.at[query_index, 'building'] # Update building
                agents_df.at[auery_index, 'lastMissionCompany'] = query_df.at[query_index, 'company'] # Update company
                
                # Load Full List
                while driver.find_element_by_xpath("//button[@class='load-more button row']").text == 'LOAD MORE':
                    driver.find_element_by_xpath("//button[@class='load-more button row']").click()
                    sleep(3)
                
                # Grab available beds
                amount_bdrs = int(driver.find_element_by_xpath("//span[@class='amount']").text)
                available_dic[selectedBdr].append(selectedBdr)
                
                # Grab unit information
                
                holder = [units_dic['unitName'].append(listing.text) for listing in driver.find_elements_by_xpath('//a[@class ="unit-name-expand hide-for-small"]') if len(listing.text) > 0]
                holder = [units_dic['sqrFt'].append(re.findall(r'\d+', sqrFt.text)[0]) for sqrFt in driver.find_elements_by_xpath('//li[@class ="hide-for-small sqft"]')if len(sqrFt.text) > 0]
                holder = [units_dic['price'].append(re.findall(r'\d+', price.text.replace(',', ""))[0]) for price in driver.find_elements_by_xpath('//li[@class ="price"]')if len(price.text) > 0]
                holder = [units_dic['availableDate'].append(available_date.text.split('\n')[1]) for available_date in driver.find_elements_by_xpath('//li[@class ="available"]')if len(available_date.text) > 0]
                holder = [units_dic['bthr'].append(re.findall(r'\d+',bath_count.text.split('/')[1])[0]) for bath_count in driver.find_elements_by_xpath('//li[@class ="bed-bath-count"]')if len(bath_count.text) > 0]
                holder = [units_dic['apt_views'].append(re.findall(r'\d+', aptView.text)[0]) for aptView in driver.find_elements_by_xpath('//p[@class ="apartment-views"]')if len(aptView.text) > 0]
                holder = [units_dic['features'].append(additional_features.text.replace('Apartment Features\n',"")) for additional_features in driver.find_elements_by_xpath('//li[@class ="features restricted"]')if len(additional_features.text) > 0]
                holder = [units_dic['date'].append(datetime.now().strftime("%m-%d-%y")) for range(len(unit_listings))]
                holder = [units_dic['flr'].append(floor.text) for floor in driver.find_elements_by_xpath('//span[@class="floor-number"]') if len(floor.text)>0]
                holder = [units_dic['bdr'].append(re.findall(r'\d+',bath_count.text.split('/')[0])[0]) for bath_count in driver.find_elements_by_xpath('//li[@class ="bed-bath-count"]')if len(bath_count.text) > 0]
                # Bedrooms finished

            available_dic['date'].append(now.strftime("%m-%d-%y"))
            available_dic['building'].append(query_df[query_df['buildingUrl'] == selectedBuilding]['building'])
            for available_rooms in available_dic.keys():
                if len(available_dic[available_rooms]) != len(available_dic['date']):
                    available_dic[available_rooms].append(np.nan)

,agents,agentFn,agentLn,creationDate,missionCount,lastMissionDate,lastMissionBuilding,lastMissionCompany
0,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,Clara,Willman,02-03-22,0,NaN,NaN,NaN
1,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Timothy,Isom,02-03-22,0,NaN,NaN,NaN
2,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Nicole,Smith,02-03-22,0,NaN,NaN,NaN
3,Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKi...,Jose,Jones,02-03-22,0,NaN,NaN,NaN
4,Mozilla/5.0 (X11; OpenBSD i386) AppleWebKit/53...,Jason,Na,02-03-22,0,NaN,NaN,NaN
5,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,Eric,Little,02-03-22,0,NaN,NaN,NaN

In [179]:
query_df

0    10 Hanover Square
1           21 Chelsea
2              95 Wall
3      Columbus Square
4       Leonard Pointe
5              View 34
Name: building, dtype: object

In [66]:
available_dic = {}
available_dic['building'] = []
available_dic['date'] = []
available_dic['studio'] = []
available_dic['oneBdr'] = []
available_dic['twoBdr'] = []
available_dic['threeBdr'] = []
available_dic['fourBdr'] = []
available_dic['fiveBdr'] = []

,company,building,state,maxBdr,buildingLong,buildingLat,buildingUrl
0,udr,10 Hanover Square,New York,3,-74.008881,40.704552,https://www.udr.com/new-york-city-apartments/l...
1,udr,21 Chelsea,New York,5,-73.994598,40.741749,https://www.udr.com/new-york-city-apartments/c...
2,udr,95 Wall,New York,3,-74.007498,40.704694,https://www.udr.com/new-york-city-apartments/l...
3,udr,Columbus Square,New York,4,-73.967116,40.793967,https://www.udr.com/new-york-city-apartments/u...
4,udr,Leonard Pointe,New York,2,-73.948483,40.718062,https://www.udr.com/new-york-city-apartments/w...
5,udr,View 34,New York,3,-73.972534,40.743588,https://www.udr.com/new-york-city-apartments/m...

In [86]:
yes = 3 if 1+2 == 3

SyntaxError: invalid syntax (<ipython-input-86-57f54fd99f3a>, line 1)

In [74]:
options = Options()
options.add_argument(f"user-agent={selectedAgent}")
driver = webdriver.Chrome(chrome_options=options)

C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: use options instead of chrome_options
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
unit_listings = [listing.text for listing in driver.find_elements_by_xpath('//a[@class ="unit-name-expand hide-for-small"]')]
sqrFts = [re.findall(r'\d+', sqrFt.text)[0] for sqrFt in driver.find_elements_by_xpath('//li[@class ="hide-for-small sqft"]')]
pricings = [re.findall(r'\d+', price.text.replace(',', ""))[0] for price in driver.find_elements_by_xpath('//li[@class ="price"]')
availabile_dates = [available_date.text.split('\n')[1] for available_date in driver.find_elements_by_xpath('//li[@class ="available"]')]
bath_counts = [re.findall(r'\d+',bath_count.text.split('/')[1])[0] for bath_count in driver.find_elements_by_xpath('//li[@class ="bed-bath-count"]')]
aptViews = [re.findall(r'\d+', aptView.text)[0] for aptView in driver.find_elements_by_xpath('//p[@class ="apartment-views"]')]
additional_features = [additional_features.text.replace('Apartment Features\n',"") for additional_features in driver.find_elements_by_xpath('//li[@class ="features restricted"]')]

In [100]:
for listing in all_listings:
    print(listing.text)

Apartment N16P
Apartment N22F
Apartment S16F
Apartment S17P
Apartment N24D
Apartment S07M
Apartment S20K
Apartment S21K
Apartment N27K
Apartment N34D
Apartment N25J
Apartment N03B
Apartment S23G
Apartment S15M
Apartment N09P
Apartment N19M
Apartment S27B
Apartment S09L
Apartment N20D
Apartment N20K
Apartment N04B
Apartment N05F
Apartment N16L
Apartment S23H
Apartment S22K
Apartment S24D
Apartment N25D
Apartment S18L
Apartment N29D
Apartment N15G