In [1]:
import pandas as pd

In [5]:
agents_df = pd.read_csv('Resources/agents.csv', index_col=0)
query_df = pd.read_csv('Resources/queryList.csv', index_col=0)

In [12]:
selected_agent = agents_df['agents'].iloc[0]

In [20]:
number = agents_df[agents_df['agents'] == selected_agent]['missionCount']

In [27]:
agents_df[agents_df['agents'] == selected_agent]['missionCount'] = number+1

C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
agent_index = agents_df[agents_df['agents'] == selected_agent].index[0]

In [64]:
agents_df.at[agent_index,'missionCount']-=1

In [65]:
agents_df

,agents,agentFn,agentLn,creationDate,missionCount,lastMissionDate,lastMissionBuilding,lastMissionCompany
0,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,Clara,Willman,02-03-22,0,NaN,NaN,NaN
1,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Timothy,Isom,02-03-22,0,NaN,NaN,NaN
2,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Nicole,Smith,02-03-22,0,NaN,NaN,NaN
3,Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKi...,Jose,Jones,02-03-22,0,NaN,NaN,NaN
4,Mozilla/5.0 (X11; OpenBSD i386) AppleWebKit/53...,Jason,Na,02-03-22,0,NaN,NaN,NaN
5,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,Eric,Little,02-03-22,0,NaN,NaN,NaN

In [6]:
# Checks to see if there are still buildings to query
building_list = query_df['buildingUrl']
number_buildings = len(building_list)
while len(building_list) > 0: 
    
    # Load agents
    agents_list = agents_df['agents'].tolist()
    number_agents = len(agents_list)
    
    #Select agent
    for n in range(number_agents):
        selectedAgent = random.choice(agents_list)
        agents_list.remove(selectedAgent)
        agentContinues = random.randrange(0,2)

        options = Options()
        options.add_argument(f"user-agent={selectedAgent}")
        driver = webdriver.Chrome(chrome_options=options)

        while (agentContinues == 1) & (building_list >0):
            selectedBuilding= random.choice(building_list)
    #         building_list.remove(selectedBuildings)


            if 'https://www.udr.com/new-york-city-apartments/chelsea/21-chelsea/apartments-pricing' not in selectedBuilding:
                maxBedroom = query_df[query_df['buildingUrl'] == selectedBuilding]['maxBdr']
                bedroomQueries = [str(i+1) for i in range(maxBedroom)]
                number_bdr_queries = len(bedroomQueries)
            else:
                bedroomQueries = ["0", '1','2','5']
                number_bdr_queries = len(bedroomQueries)
                
            for bdr in range(number_bdr_queries):
                selectedBdr = random.choice(bedroomQueries)
                bedroomQueries.remove(selectedBdr)
                queryUrl = f"{selectedBuilding}?beds={selectedBdr}"
                driver.get(queryUrl)
                
                # Get agent index
                agent_index = agents_df[agents_df['agents'] == selected_agent].index[0]
                
                # Get building index
                query_index = query_df[query_df['buildingUrl'] == selectedBuilding].index[0]                
                
                # UPDATES
                agents_df.at[agent_index, "missionCount"]+=1 # Update Mission
                agents_df.at[agent_index, 'lastMissionDate'] = now.strftime("%m-%d-%y") # Update Mission
                agents_df.at[auery_index, 'lastMissionBuilding'] = query_df.at[query_index, 'building'] # Update building
                agents_df.at[auery_index, 'lastMissionCompany'] = query_df.at[query_index, 'company'] # Update company

,agents,agentFn,agentLn,creationDate,missionCount,lastMissionDate,lastMissionBuilding,lastMissionCompany
0,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,Clara,Willman,02-03-22,0,NaN,NaN,NaN
1,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Timothy,Isom,02-03-22,0,NaN,NaN,NaN
2,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.3...,Nicole,Smith,02-03-22,0,NaN,NaN,NaN
3,Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKi...,Jose,Jones,02-03-22,0,NaN,NaN,NaN
4,Mozilla/5.0 (X11; OpenBSD i386) AppleWebKit/53...,Jason,Na,02-03-22,0,NaN,NaN,NaN
5,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,Eric,Little,02-03-22,0,NaN,NaN,NaN

In [66]:
query_index = query_df[query_df['buildingUrl'] == selectedBuilding].index[0]

,company,building,state,maxBdr,buildingLong,buildingLat,buildingUrl
0,udr,10 Hanover Square,New York,3,-74.008881,40.704552,https://www.udr.com/new-york-city-apartments/l...
1,udr,21 Chelsea,New York,5,-73.994598,40.741749,https://www.udr.com/new-york-city-apartments/c...
2,udr,95 Wall,New York,3,-74.007498,40.704694,https://www.udr.com/new-york-city-apartments/l...
3,udr,Columbus Square,New York,4,-73.967116,40.793967,https://www.udr.com/new-york-city-apartments/u...
4,udr,Leonard Pointe,New York,2,-73.948483,40.718062,https://www.udr.com/new-york-city-apartments/w...
5,udr,View 34,New York,3,-73.972534,40.743588,https://www.udr.com/new-york-city-apartments/m...